@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

nav {
    a {
        font-size: 40px;
    }
    
    h1 {
        font-family: 'Montez', serif;
        color: white;
        font-size: 40px;
    }
}

.panel {
    background-image: url("../assets/images/wood-pattern-ground-parquet-floor.jpg");
    background-size: cover;
    height: 90%;
    @media only screen and (min-width: 64.063em) { 
        height: 75%;
    }
    
    h5 {
        padding: 10px;
        text-align: left;
        font-family: 'Muli', serif;
        color: white;
        font-size: 40px;
        // margin-left: 5px;
        @media only screen and (min-width: 64.063em) { 
        margin-left: 20px;
        }
    }
    .middle {
        vertical-align: middle;
    }
}


//social media icons

.social-media {
    /*padding:20px;*/
    margin:30px;
    text-align:center;
    display:inline-block;
}

.sm {
    width:60px;
    height:60px;
    transition:transform 250ms;
    margin:8px;
    float: clear;
}
.email {
    width: 54px;
    height: 54px;
    margin-bottom: 3px;
}

.sm:hover {
    transform:scale(1.5);
}

//end of social media icons




