body {
    background-image:url("https://static.pexels.com/photos/441/wood-village-house-grass-large.jpg");
    background-size: cover;
    background-position:center;
    color: white;
    font-family: sans-serif;
    text-align:center;
}

h1 {
    font-family: serif;
}

img {
    border-radius: 50%;
    height: 200px;
    width:200px;
}
