body {
    background-image:url("https://static.pexels.com/photos/370/lights-night-dark-abstract-large.jpeg");
    background-size: cover;
    background-position:center;
    color: white;
    font-family: sans-serif;
    text-align:center;
}

h1 {
    font-family: 'Montez', serif;
    font-size: 45px;
}

img {
    border-radius: 50%;
    height: 120px;
    width:120px;
}
