body {
    background-image:url("https://static.pexels.com/photos/370/lights-night-dark-abstract-large.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
    text-align:center;
}

img {
    border-radius: 50%;
    height: 250px;
    width:250px;
    float: right;
}

h1 {
    font-family: 'Montez', serif;
    font-size: 70px;
    float: clear;
}

h2 {
    font-size: 40px;
    float:clear;
}

p {
    font-size: 30px;
    font-family:'Muli', sans-serif;
    float:clear;
}