<div class="panel">
    <div class="projects medium-12 columns">
        <div class="main medium-4 columns">
            <img id='cathepic' src='https://www.gravatar.com/avatar/e32c8ef762f13c8d17ebf9e5dc625a29.jpg?s=500'>
        </div>
        <div class="main medium-8 columns">
            <p class="about">J'ai appris énormément lors de ma carrière en communications,
            et ce dans des fonctions aussi variées que la traduction, les médias sociaux, l'édition
            de contenu, l'édition de magazines, l'administration de sites web, et plus encore; tant de
            domaines pour lesquels je n'avais pas de formation, mais que j'ai appris "sur le tas" et
            maîtrisé rapidement. Je ne sais pas s'il y a beaucoup de choses que l'on ne peut pas
            accomplir quand on s'entête comme il faut!
            </p>
        </div>
    </div>
</div> 