

        <section class="social-media">
            <p>
                Get in touch with me using one of the following options:
            </p>
            <p>
            <a href="https://ca.linkedin.com/in/catherineducharme1" target="_blank"><img class="sm" src="assets/images/linkedin-icon.png"></a>    
            <a href="https://github.com/Cathe313" target="_blank"><img class="sm" src="assets/images/github-icon.png"></a>    
            <a href="https://twitter.com/ducharme_ca" target="_blank"><img class="sm" src="assets/images/twitter-icon.png"></a>
            <a href="mailto:ducharme.catherine@gmail.com" target="_blank"><img class="sm email" src="assets/images/email-icon.png"></a>
            </p>
        </section>