<div class="panel">
    <section class="social-media">
        <p>
            Get in touch with me using one of the following options:
        </p>
        <ul>
            <li>
                <a href="https://ca.linkedin.com/in/catherineducharme1" target="_blank"><img class="sm" src="assets/images/linkedin-icon.png"></a>
                <p>On LinkedIn: catherineducharme1</p>
            </li>
            <li>
                <a href="https://github.com/Cathe313" target="_blank"><img class="sm" src="assets/images/github-icon.png"></a>
                <p>On Github: @Cathe313</p>
            </li>
            <li>
                <a href="https://twitter.com/Cathe313" target="_blank"><img class="sm" src="assets/images/twitter-icon.png"></a>
                <p>On Twitter: @Cathe313</p>
            </li>
            <li>
                <a href="mailto:ducharme.catherine@gmail.com" target="_blank"><img class="sm email" src="assets/images/email-icon.png"></a>
                <p>By email: ducharme.catherine@gmail.com</p>
            </li>
        </ul>
    </section>
</div>