<div class="panel">
    <section class="social-media">
        <p id="contactpage">
            Contactez-moi :
        </p>
        <ul>
            <li>
                <a href="https://ca.linkedin.com/in/catherineducharme1" target="_blank"><img class="sm" src="assets/images/linkedin-icon.png"></a>
                <p>Sur LinkedIn : catherineducharme1</p>
            </li>
            <li>
                <a href="https://github.com/Cathe313" target="_blank"><img class="sm" src="assets/images/github-icon.png"></a>
                <p>Sur Github : @Cathe313</p>
            </li>
            <li>
                <a href="https://twitter.com/_Catou_" target="_blank"><img class="sm" src="assets/images/twitter-icon.png"></a>
                <p>Sur Twitter : @_Catou_</p>
            </li>
            <li>
                <a href="mailto:ducharme.catherine@gmail.com" target="_blank"><img class="sm email" src="assets/images/email-icon.png"></a>
                <p>Par courriel : ducharme.catherine@gmail.com</p>
            </li>
        </ul>
    </section>
</div>