    <div class="panel medium-12 columns">
      <div class="middle medium-8 columns">
        <h1>Full-Stack Web Developer</h1>
        <h1>Sherbrooke, QC</h1>
        <h5>I make bilingual websites for Canadian clients. 
        I am a former communications specialist with extensive translation experience.</h5>
        <section class="social-media">
          <p>
            <a href="https://ca.linkedin.com/in/catherineducharme1" target="_blank"><img class="sm" src="assets/images/linkedin-icon.png"></a>    
            <a href="https://github.com/Cathe313" target="_blank"><img class="sm" src="assets/images/github-icon.png"></a>    
            <a href="https://twitter.com/Cathe313" target="_blank"><img class="sm" src="assets/images/twitter-icon.png"></a>
            <a href="mailto:ducharme.catherine@gmail.com" target="_blank"><img class="sm email" src="assets/images/email-icon.png"></a>
          </p>
        </section>
      </div>
      <div class="medium-4 columns">
          <a class="twitter-timeline" href="https://twitter.com/Cathe313" data-widget-id="666708524525727745">Tweets de @Cathe313</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    