    <div class="panel">
      <div class="middle">
        <h5>Web Developer</h5>
        <h5>Maker of Bilingual Websites</h5>
        <h5>Sherbrooker</h5>
      </div>
    </div>
    <div>
      <h5>Some stuff about me</h5>
      <p class="about">Full-stack web developer, maker of bilingual websites for Canadian clients. 
      I am a former communications specialist with extensive translation experience.</p>
    </div>