    <div class="landing medium-12 columns">
      <div class="middle medium-8 columns">
        <h5>Full-Stack Web Developer</h5>
        <h5>Maker of Bilingual Websites</h5>
        <h5>Sherbrooker</h5>
      </div>
      <div class="medium-4 columns">
          <a class="twitter-timeline" href="https://twitter.com/Cathe313" data-widget-id="666708524525727745">Tweets de @Cathe313</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <div class="medium-8 columns">
        <div class="medium-4 columns">
          
        </div>
        <div class="medium-4 columns">
          
        </div>
      </div>  
    </div>
    