<div class="panel">
    <div class="projects medium-12 columns">

        <!--DecodeMTL-->
        <div class="medium-4 columns">
            <img class='pic' src="./assets/images/decodemtl-favicon-large.png">
        </div>
        <div class="para medium-8 columns">
            <h4>DecodeMTL - Cours intensif en programmation</h4>
            <p>Sur une période de 8 semaines d'appentissage intensif, j'ai appris le développement
            web "full-stack" avec JavaScript. En particulier :</p>
            <p>JavaScript avancé (callbacks, promises)</p>
            <p>Dévelopment back-end (NodeJS, ExpressJS, créer des APIs avec Loopback, mySQL et bases de données)</p>
            <p>Dévelopment front-end (HTML5, CSS3, SASS, jQuery, Backbone)</p>
            <p>Outils de dévelopment (Grunt, Webpack, l'invite de commande, Git, Github, Heroku)</p>
            <p><a href="http://www.decodemtl.com/" target="_blank">Visitez le site de DecodeMTL</a></p>
        </div>

        <!--Exquisite Cadaver-->
        <div class="medium-4 columns">
            <img class='pic' src="./assets/images/skullicon.png">
        </div>
        <div class="para medium-8 columns">
            <h4>Exquisite Cadaver</h4>
            <p>Cette application en ligne est une version anglaise du jeu du Cadavre Exquis. Il s'agit de mon projet final pour le cours intensif en programmation
            de DecodeMTL. J'étais en charge du back-end de l'appli (API, base de données, serveur)
            et d'une partie du JavaScript pour le frontend (Backbone). Ma collègue 
                <a href="https://github.com/Marie-EveGauthier" target="_blank">Marie-Ève Gauthier</a> était la développeur front-end.</p>
            <p>Notez que l'appli est fonctionnelle, mais encore en développement. Le back-end est hébergé
            sur Heroku.</p>
            <p><a href="https://exquisitecadaver.net" target="_blank">Visitez le site</a></p>
            <p><a href="https://github.com/Cathe313/exquisite-cadaver-loopback" target="_blank">Voir le code back-end sur Github</a></p>
            <p><a href="https://github.com/Cathe313/exquisite-cadaver" target="_blank">Voir le code front-end sur Github</a></p>
        </div>

        <!--FoodEmbassy-->
        <div class="medium-4 columns">
            <img class='pic' src="./assets/images/square-logo-2.png">
        </div>
        <div class="para medium-8 columns">
            <h4>FoodEmbassy</h4>
            <p>Conçue au Startup Weekend 2015 de Sherbrooke, FoodEmbassy est un réseau de
            distribution citoyen qui permet aux petits producteurs alimentaires locaux
            de vendre leurs produits en gros directement à leurs consommateurs, et de
            rejoindre de nouveaux clients dans d'autres villes. Des aliments de qualité, produits localement, vendus sans intermédiaire - tout le monde y gagne!</p>
            <p>L'équipe de FoodEmbassy a gagné le prix du meilleur prototype au Startup Weekend 
            de Sherbrooke, et a réalisé plus de 1000 $ en ventes durant sa première semaine d'existence.</p>
            <p><a href="https://foodembassy.co" target="_blank">Visitez le site de FoodEmbassy</a></p>
        </div>
    </div>
</div>    