<div class="panel">
    <div class="projects medium-12 columns">

        <!--DecodeMTL-->
        <!--<div class="medium-4 columns">-->
        <!--    <img class='pic' src="./assets/images/decodemtl-favicon-large.png">-->
        <!--</div>-->
        <!--<div class="para medium-8 columns">-->
        <!--    <h4>DecodeMTL Coding Bootcamp</h4>-->
        <!--    <p>Over the course of this bootcamp, I learnt full-stack web development with JavaScript. More particularly:</p>-->
        <!--    <p>Advanced JavaScript (callbacks, promises)</p>-->
        <!--    <p>Back-end development (NodeJS, ExpressJS, creating APIs with Loopback, mySQL)</p>-->
        <!--    <p>Front-end development (HTML5, CSS3, SASS, jQuery, Backbone)</p>-->
        <!--    <p>Development tools (Grunt, Webpack, the command line, Git, Github, Heroku)</p>-->
        <!--    <p><a href="http://www.decodemtl.com/" target="_blank">Visit Website</a></p>-->
        <!--</div>-->

        <!--Exquisite Cadaver-->
        <div class="medium-4 columns">
            <img class='pic' src="./assets/images/skullicon.png">
        </div>
        <div class="para medium-8 columns">
            <h4>Exquisite Cadaver</h4>
            <p>This online game was my final project for the DecodeMTL Full-Stack Web Development bootcamp. I was in charge of the app's back-end (Loopback API, mySQL database, ExpressJS server) and some front-end JavaScript (Backbone), while
                <a href="https://github.com/Marie-EveGauthier" target="_blank">Marie-Ève Gauthier</a> was the front-end developer.</p>
            <p>Note that the app is functional, but still being developed. The back-end is hosted on Heroku.</p>
            <p><a href="https://exquisitecadaver.net" target="_blank">Visit Website</a></p>
            <p><a href="https://github.com/Cathe313/exquisite-cadaver-loopback" target="_blank">See back-end code on Github</a></p>
            <p><a href="https://github.com/Cathe313/exquisite-cadaver" target="_blank">See front-end code on Github</a></p>
        </div>

        <!--FoodEmbassy-->
        <div class="medium-4 columns">
            <img class='pic' src="./assets/images/square-logo-2.png">
        </div>
        <div class="para medium-8 columns">
            <h4>FoodEmbassy</h4>
            <p>Born at Startup Weekend Sherbrooke 2015, FoodEmbassy is a citizen-based distribution network that enables small, local food producers to sell in bulk directly to their customers, and to reach new customers in other cities.</p>
            <p>The FoodEmbassy team won the Best Prototype prize at Startup Weekend Sherbrooke, and made more than 1000 $ in sales within its first week of existence.</p>
            <p><a href="https://foodembassy.co" target="_blank">Visit Website</a></p>
        </div>
    </div>
</div>    